In [4]:
# Importing libraries
import pandas as pd
def recommendation():
    
    # Read csv file into a pandas dataframe
    df = pd.read_csv("books.csv")
    df = df[df.language_code =='eng']
    df['Title'] = df['title'].str.split('(').str[0]
    print("Enter rating w/wo <rating> or random for book suggestion")
    search= input("enter to search ")
    if search=="random":
        df_new= df.sample(replace=True)[['Title', 'authors',"rating"]]
        print("Title: ", df_new[['Title']].to_string(index=False, header=False))
        print("Author: ", df_new[['authors']].to_string(index=False, header=False))
        print("Rating: ", df_new[['rating']].to_string(index=False, header=False))
        return "Enjoy!"
    elif "rating" in search:
            search=search.split()
            rate=float(search[1])
            df_rate = df[df['rating'].astype(float) >= rate]
            df_new= df_rate.sample(replace=True)[['Title', 'authors',"rating"]]
            print("Title: ", df_new[['Title']].to_string(index=False, header=False))
            print("Author: ", df_new[['authors']].to_string(index=False, header=False))
            print("Rating: ", df_new[['rating']].to_string(index=False, header=False))
            return "Enjoy!"
print(recommendation())

Enter rating w/wo <rating> or random for book suggestion
enter to search
None

In [21]:
def sortbylanguage(language):
    df = pd.read_csv("books.csv")
    df=df.loc[df['language_code']==language].sort_values('rating', ascending=False).head(10)
    return df

In [22]:
lang=input("Enter the language code")
new_df=sortbylanguage(lang)
new_df

Enter the language codespa

,bookID,title,authors,rating,language_code,num_pages,ratings_count,text_reviews_count,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
4412,15872,Harry Potter y el misterio del príncipe (Harry...,J.K. Rowling/Gemma Rovira Ortega,4.57,spa,602,5104,386,NaN,NaN,NaN,NaN
4413,15876,Harry Potter y la Orden del Fénix (Harry Potte...,J.K. Rowling,4.49,spa,893,5637,458,NaN,NaN,NaN,NaN
4969,17950,Obra Poética,Jorge Luis Borges,4.49,spa,645,50,3,NaN,NaN,NaN,NaN
988,3357,Harry Potter Y La Piedra Filosofal (Harry Pott...,J.K. Rowling,4.47,spa,254,142,12,NaN,NaN,NaN,NaN
4605,16569,Ficciones,Jorge Luis Borges/Gordon Botherston/Peter Hulme,4.45,spa,232,90,4,NaN,NaN,NaN,NaN
3710,13449,La Milla Verde,Stephen King/María Eugenia Ciocchini Suárez,4.44,spa,448,9,1,NaN,NaN,NaN,NaN
9067,35313,La Ley del Exito,Paramahansa Yogananda,4.44,spa,32,0,0,NaN,NaN,NaN,NaN
7872,30270,Pacto Con un Demonio,Kim Harrison,4.39,spa,512,0,0,NaN,NaN,NaN,NaN
1659,5794,El Aleph,Jorge Luis Borges,4.38,spa,253,146,9,NaN,NaN,NaN,NaN
8882,34327,La Biblia de los Critales: Guia definitiva de ...,Judy Hall,4.38,spa,383,6,0,NaN,NaN,NaN,NaN